.unity-tab__header {
    background-color: transparent;
    opacity: 1;
    color: ghostwhite;
    -unity-font-style: normal;
    font-size: 55px;
}

.unity-tab__header:checked {
    -unity-font-style: bold;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.tab-content {
    background-color: transparent;
    font-size: 50px;
}

.unity-tab__header-underline {
    opacity: 0;
}

.settingsTab {
}
